* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    width: 100%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#restart, #game div, body {
    font-family: 'East Sea Dokdo', cursive;
}

#bureau {
    margin: 0 auto;
    width: 45rem;
    height: auto;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
}

#titre {
    height: 10rem ;
    text-align: center;
}

#titre #quiJoue {
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
}

#game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#game div {
    font-size: 13rem;
    width: 33.33%;
    height: 13rem;
    border-color: white;
    border-radius: 1rem;
    background: none;
    border-width: 0.3rem;
    display: flex;
    align-items: center;
    padding-left: 4.3rem;
}

#case1, #case3, #case5, #case7, #case9 {
    border-style: none;
}

#case4{
    border-style: solid solid solid none;
}

#case2 {
    border-style: none solid solid solid;
}

#case6 {
    border-style: solid none solid solid;
}

#case8 {
    border-style: solid solid none solid;
}

#game div:hover {
    background-color: lightblue;
}

#score {
    text-align: center;
    height: 6rem;
    width: 100%;
}

#restartButton {
    display: flex;
    flex-direction: row-reverse;
}

#restart {
    font-size: 2rem;
    background-color: #eeaf58;
    border: solid black 1px;
    border-radius: 2rem;
    padding: 0.3rem 1.5rem;
}

#restart:hover {
    background-color: #ee8341;
}

#consignes {
    font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
    #bureau {
        width: 100%;
        height: 2rem;
    }

    #game div {
        height: 10rem;
        font-size: 8rem;
    }

}

@media screen and  (max-width: 400px){
    #titre h1 {
        font-size: 3rem;
    }

    #game div {
        height: 8rem;
        font-size: 5rem;
        padding-left: 2rem;
    }
}