* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    width: 100%;
    font-family: 'East Sea Dokdo', cursive;
}

#bureau {
    margin: 0 auto;
    width: 45rem;
    height: auto;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
}

#titre {
    height: 10rem ;
    text-align: center;
}

#titre #quiJoue {
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
}

#game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black 0.3rem;
}

#game button {
    font-size: 13rem;
    width: 33.33%;
    height: 13rem;
    border-color: black;
    background: none;
    border-width: 0.3rem;
    display: flex;
    align-items: center;
    padding-left: 4.3rem;
}

#case1, #case3, #case5, #case7, #case9 {
    border-style: none;
}

#case4{
    border-style: solid solid solid none;
}

#case2 {
    border-style: none solid solid solid;
}

#case6 {
    border-style: solid none solid solid;
}

#case8 {
    border-style: solid solid none solid;
}

.colorPlayerX button:hover {
    background-color: lightblue;
}

.colorPlayerO button:hover {
    background-color: #ee8341;
}

#restartButton {
    display: flex;
    flex-direction: row-reverse;
}

#restart, #game button {
    font-family: 'East Sea Dokdo', cursive;
}

#restart {
    font-size: 2rem;
    background-color: #eeaf58;
    border: solid black 1px;
    border-radius: 2rem;
    padding: 0.3rem 1.5rem;
}

#restart:hover {
    background-color: #ee8341;
}